@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');



*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}


.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(8,8,8,0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(8,8,8,0.5);
}


.table-row{
  cursor: pointer;
}

.table-row:hover {
  background: rgba(5, 5, 5, 0.1);
}

.t-cell-trade {
  padding-left: 1px !important;
  padding-right: 1px !important;

}


.home-screen {
  background: url("./assets/pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 5%;
}